{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  }
}
